body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}
.circle {
    border-radius: 50%;
}
.align-center {
    text-align: center;
}
.center {
    margin: 0 auto;
}
.flex {
    display: flex;
    flex: wrap;
    justify-content: space-between;
}
.row {
    max-width: 80em;
    margin: 0 auto;
}
form {
    margin: 0;
    padding: 0;
}
input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1em;
    padding: 1em;
    border: 0.1em solid lightslategray;
    transition: 0.2s;
}
input[type="text"]:focus {
    background: #375A2811;
    border-color: #607D37;
    transform: scale(1.05);
}
button {
    transition: 0.2s;
}
button.save {
    background: #607D37;
    color: #ffffff;
    text-align: center;
    padding: 1em;
    border: 0;
    cursor: pointer;
    font-size: 1.1em;
}
button.save:hover, button.save:focus{
    background: #90AD56;
}
table, td, th, tr {
    /* border: 0.2em solid black; */
}
th {
    background: #268487;
    color: #fff;
    padding: 0.4em;
}
td {
    padding: 0.6em;
}
tr:nth-child(odd) {
    background: whitesmoke;
}
header {
    box-sizing: border-box;
    overflow: auto;
    margin-bottom: 1em;
}
header h1 {
    font-weight: 500;
    margin: 0.2em 0 0;
    padding: 0;
    text-align: center;
    color: #607D37;
    font-size: 3em;
}
header h2 {
    font-weight: 500;
    text-transform: uppercase;
    margin: 0em 0;
    padding: 0;
    text-align: center;
    color: #90AD56;
    opacity: 0.8;
    font-size: 2em;
}
nav {
    /* margin-bottom: 1em; */
}
nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-around;
}
nav ul li {
    width: 100%;
}
nav a {
    display: block;
    background: #90AD56;
    padding: 1em;
    text-decoration: none;
    font-size: 1.4em;
    color: #fff;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    transition: 0.2s;
}
nav a:hover, nav a:focus{
    background: #375A28;
}
.pagetitle {
    margin: 0.4em 0;
    padding: 0;
    text-align: center;
    font-size: 3em;
    opacity: 0.8;
    color: #24436C;
    font-weight: 300;
}
.thumbnail-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em;
}
.thumbnail-list a {
    text-decoration: none;
    width: 10em;
    margin: 0 auto 2em auto;
}
.thumbnail-list a:hover img, .thumbnail-list a:focus img{
    filter: brightness(150%);
    border-width: 0.5em;
}
.thumbnail-list p {
    text-decoration: none;
    color: #375A28;
    font-size: 1.6em;
    margin: 0.2em auto;
    text-align: center;
}
.thumbnail-list .subtitle {
    color: #24436C;
    font-size: 1.2em;
}
.thumbnail-list a img {
    width: 8em;
    height: 8em;
    margin: 0 1em 0 1em;
    box-sizing: border-box;
    transition: 0.2s;
    border: 0 solid #607D37;
    background: whitesmoke;
}

.category-meta {
    padding: 1em;
    background: whitesmoke;

}
.category-meta .metric {
    min-width: 10em;
    min-height: 10em;
    margin: 0 1em;
    box-sizing: border-box;
    background: #268487;
    padding: 1em;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
}
.category-meta .metric:last-child {
    margin-right: 0em;
}
.category-meta .item-title h3 {
    margin: 0;
    padding: 0.2em;
    font-size: 1.4em;
    text-align: center;
    font-weight: 400;
}
.category-meta .item-title h3 a {
    opacity: 0.8;
    color: #24436C;
    transition: 0.2s;
    padding: 0.6em;
}
.category-meta .item-title h3 a:hover, .category-meta .item-title h3 a:focus {
    background: #24436C;
    color: #fff;
}
.category-meta .item-title h2 {
    margin: 0;
    padding: 0;
    font-size: 4em;
    font-weight: 300;
    color: #24436C;
}
.category-meta h3 {
    padding-top: 1em;
    margin-bottom: 0;
    opacity: 0.9;
    font-weight: 400;
}
.category-meta p {
    text-transform: uppercase;
    font-size: 1.4em;
    margin-top: 0.2em;
}
.statusGraph {
    min-height: 14em;
    background: #444;
}
.statusTable {
    width: 100%;
}
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
    left: 0;
    padding: 2em;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	transition: 0.2s;   
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	position: relative;
    margin: 10% auto;
    max-width: 40em;
    padding: 2em;
    background: #fff;
    padding-bottom: 6em;
}
.modalDialog button {
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 100%;
}
.modalDialog h2 {
    color: #607D37;
}
.modalDialog .close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
    padding: 1em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 0 50%;
	text-decoration: none;
	font-weight: bold;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.modalDialog .close:hover, .modalDialog .close:focus { 
    background: #607D37; 
}

.errorPage {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    background-size: cover;
    background-position: bottom;
    color: #fff;
}
.errorPage h1 {
    font-size:10em;
    margin-bottom: 0;
}
.errorPage h3 {
    margin:0;
    padding: 0;
    font-size: 2em;
    opacity: 0.5;
}
.errorPage p:first-of-type {
    font-size: 2em;
}
.errorPage .row {
    padding: 0 1em 0 1em;
}
.errorPage b {
    font-size: 1.2em;
}
.errorPage .errorDetail {
    font-size: 1.2em;
    background: #ffffff;
    opacity:0.9;
    color: #000;
}