{{>header title="Keepr"}}
<nav class='row'>
    <ul>
        <li><a href="./"><b>+</b> Nieuwe categorie</a></li>
    </ul>
</nav>
<main>
    <H2 class='pagetitle'>Overzicht</H2>
    <section class='thumbnail-list row'>

        {{#each categories}}
        <a href='/{{slug}}'>
            <p>{{name}}</p>
            <img class='thumbnail circle' src='{{thumbnailUrl}}'>
            <p class='subtitle'>500gr</p>
        </a>
        {{/each}}
        <a href='/category/new'>
            <p>&nbsp;</p>
            <img class='thumbnail circle' src='https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/add-circle-green-512.png'>
            <p class='subtitle'>Nieuw</p>
        </a>
    </section>
</main>